/* @font-face {
  font-family: "NAURYZ";
  src:
    url("/fonts/NAURYZ") format("woff2"),
} */

.tour-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  height: 250px;
  padding: 20px 15px;
  margin-bottom: 60px;
  border-radius: 30px;
  color: var(--sub-color);
  background-size: 400px;
  background-position-y: 70%;
  background-position-x: 80%;
}

.tour-location {
  position: relative;
  /* top: 20px; */
  /* left: 20px; */
  display: flex;
  align-items: center;
  height: 30px;
  width: max-content;
  padding: 5px 10px;

  text-wrap: nowrap;
  font-size: 1rem;

  background-color: rgba(0, 0, 0, 0.096);
  border-radius: 20px;

  backdrop-filter: blur(20px);
}

.tour-info {
  display: flex;
  height: fit-content;
  justify-content: space-between;


  .tour-name {
    display: flex;
    font-size: 1rem;
  }

  .tour-caption {
    /* font-family: 'phonksans'; */
    font-size: 0.7rem;
    color: rgb(255, 255, 255);

    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    width: 90%;

    background-color: rgba(58, 58, 58, 0.141);
    border-radius: 20px;

    backdrop-filter: blur(20px);
  }

  .tour-button {
    font-size: 0.9rem;

    display: flex;
    align-self: center;
    height: fit-content;

    padding: 15px 15px;

    background-color: var(--main-color);
    border-radius: 15px;

    .tour-link {
      all: unset;
    }
  }
}
