.tour-page {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .tour-img {
    width: 100%;
    height: 50%;
    background-color: gray;
    background-image: url(/tour-pfp/balkaria.webp);
    background-size: 650px;
    background-position-y: 0%;
    background-position-x: 50%;
  }

  .tour-inner {
    position: relative;
    top: -5%;
    height: 55%;
    border-radius: 30px 30px 0px 0px;

    padding: 20px;

    background-color: var(--sub-color);
    color: var(--main-color);

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tour-header-info {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .tour-name {
      max-width: 60%;
      font-size: 1.8rem;
    }

    .price-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      height: min-content;

      .price {
        width: min-content;
        font-size: 1.8rem;
      }

      .per-one {
        display: flex;
        align-items: end;
        padding-bottom: 5px;

        .close,
        .person {
          width: min-content;
          display: flex;
          height: 15px;
          fill: var(--main-color);
        }

        .person {
          height: 20px;
          margin: 0 0 0 -3px;
        }
      }
    }
  }

  .tour-tab-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: phonksans;
    font-size: 0.8rem;

    margin: 20px 0px;
  }

  .tour-about-section {
    display: flex;
    overflow: scroll;
    font-family: phonksans;
    font-size: 0.8rem;
    line-height: 1.3rem;

    margin-top: 10px;
    margin-bottom: 90px;
  }

  .select-button {
    position: absolute;
    bottom: 5%;

    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    font-family: phonksans;

    width: 90%;
    height: 70px;
    border-radius: 40px;
    border: none;

    color: var(--sub-color);
    background-color: var(--main-color);
  }
}
