.tour-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  padding-top: var(--tg-content-safe-area-inset-top);
}
.title {
  font-size: 4rem;
  color: var(--main-color);
  padding: 50px 20px 0px;
}